---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

export interface Props {
  project: {
    title: string;
    url: string;
    image: string;
    featured: number;
    description?: string;
    technologies?: string[];
  };
}

const { project } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class="backdrop-blur-lg shadow-sm hover:shadow-[0_0_15px_2px_var(--orange)] transition duration-300 ease-in-out rounded-2xl"
>
  <article
    class="w-full max-w-sm h-full min-h-[26rem] flex flex-col overflow-hidden text-white hover:shadow-xl transition-shadow duration-300 bg-white/5 rounded-2xl"
  >
    <img
      class="w-full h-48 object-cover"
      src={project.image}
      alt={`Screenshot of ${project.title}`}
      loading="lazy"
    />
    <div class="p-4 flex flex-col gap-3 flex-grow">
      <h3
        class="text-lg md:text-xl font-bold uppercase break-words leading-tight"
      >
        {project.title}
      </h3>
      {
        project.description && (
          <p class="text-sm text-gray-300 leading-snug">
            {project.description}
          </p>
        )
      }
      {
        project.technologies && (
          <div class="flex flex-wrap items-center gap-2">
            {project.technologies.map((tech) => (
              <img
                src={`/svg/${tech}.svg`}
                alt={tech}
                title={tech}
                class="h-5 w-5 sm:h-6 sm:w-6"
              />
            ))}
          </div>
        )
      }
      <div
        class="relative inline-flex overflow-hidden rounded-full p-[3px] transition-all duration-300 ease-in-out hover:scale-105 mt-auto"
      >
        <span
          class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite]
          bg-[conic-gradient(from_90deg_at_50%_50%,transparent_0%,var(--orange)_40%,transparent_100%)]"
        ></span>
        <a
          href={project.url}
          target="_blank"
          class="relative inline-flex w-full h-10 items-center justify-center
          rounded-full bg-[var(--background)] text-sm text-[var(--white-icon)] font-medium
          z-10 hover:text-[var(--orange)] text-center"
        >
          {t("content_projects_button")}
        </a>
      </div>
    </div>
  </article>
</div>
