---
export interface Props {
  project: {
    title: string;
    url: string;
    image: string;
    featured: number;
  };
}

const { project } = Astro.props;
---

<a
  class="group aspect-video hover:!text-default"
  href={project.url}
  target="_blank"
>
  <figure class="relative h-full w-full overflow-hidden rounded-lg">
    <img
      class="h-full w-full bg-cover object-cover transition-all duration-300 group-hover:scale-110 group-hover:opacity-40 group-focus:scale-110 group-focus:opacity-20"
      src={project.image}
      alt={`Screenshot of ${project.title}`}
      loading="lazy"
    />
    <figcaption class="absolute inset-0">
      <div
        class="flex h-full flex-col items-center justify-center gap-2 opacity-0 transition-all duration-300 group-hover:opacity-100 group-focus:opacity-100"
      >
        <h3 class="text-center font-extrabold uppercase text-xl text-white">
          {project.title}
        </h3>
        <p class="border border-current px-4 py-2 border-gray-300 text-white">
          <span class="text-gray-300">{project.url}</span>
        </p>
      </div>
    </figcaption>
  </figure>
</a>
